{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'shared/head.html' %}
  <link href="{% sass_src "css/neurodocker.scss" %}" rel="stylesheet" type="text/css" />
</head>
<body class=index>
  <div class="container-fluid header">
    {% include 'shared/nav.html' %}
  </div>

  <div class="container-fluid mt-3 ">
    <div class="col text-center">
      <h1>Neurodocker<h1/>
    </div>
    <div class="row">
      <div>
        <h3>Toolboxes<h3>
        <select>
          <option>FSL</option>
          <option>SPM</option>
          <option>FreeSurfer</option>
          <option>Nipype</option>
        </select>
      </div>
      <div>
        <h3>Attributes<h3>
          <input>
          </input>
      </div>
    </div>

    <div class="col text-center">
      <h3>Listview of toolboxes<h3/>
        <table class="toolbox-listview">
        <tr><th>Name</th><th>Version</th><th>Method</th><th>Other parameters</th></tr>


            <tr><td>Nipype</td><td>1.2.3</td><td>binaries</td><td></td></tr>

            <tr><td>FSL</td><td>4.5.6</td><td>binaries</td><td>test</td></tr>

            <tr><td>SPM</td><td>1.3.5</td><td>binaries</td><td>something</td></tr>

            <tr><td>AFNI</td><td>5.6.7</td><td>binaries</td><td>else</td></tr>

          </table>
        </div>
      <button>
        Create Dockerfile
      </button>
    </div>

    <div class="col text-center">
      <h3>Neurodocker output<h3/>
    </div>
  </div>

  {% include 'shared/footer.html' %}
</body>

{% include 'shared/analytics.html' %}

</html>
