@font-face {
  font-family: 'Nexa-Bold';
  src: url('/static/fonts/Nexa-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url('/static/fonts/PT_Sans-Web-Regular.ttf')  format('truetype');
}

.toolbox-listview {
    width: 524px;
    padding-top: 8px;
    padding-bottom: 15px;
    margin: 0 auto 20px auto;
    background-color: #446bb3;
     border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    color: #446bb3;
    padding:10px;
}
table { background-color : #fff; color : #453}
thead { background-color: #446bb3  ; color :#fff; padding:4px; line-height:30px }
tbody tr:nth-child(even) {background: #CCC}
tbody tr:nth-child(odd) {background: #FFF}
